In [4]:
from utils import get_file_names

files = get_file_names()

print(files)

['./data/otodom-2021-03-09.csv']

In [6]:
from utils import load_csvs

data = load_csvs(files)

In [7]:
from data import calc_avg_price_per_day

calc_avg_price_per_day(data)

         Data           Cena
0  2021-03-09  328579.295414

In [8]:
from data import calc_avg_price_per_meter_per_day

calc_avg_price_per_meter_per_day(data)

         Data   Cena za m2
0  2021-03-09  6345.483439

In [9]:

from data import calc_avg_price_per_area

calc_avg_price_per_area(data)

     Powierzchnia       Cena
0           11.50    79900.0
1           13.00     7000.0
2           13.06    64900.0
3           14.00   135950.0
4           14.14   135000.0
..            ...        ...
640        178.50   860000.0
641        200.00  1000000.0
642        220.00  1430000.0
643        310.00  1100000.0
644        343.59  1290000.0

[645 rows x 2 columns]