In [7]:
from utils import get_file_names

files = get_file_names()

print(files)

['./data/otodom-2021-03-09.csv', './data/otodom-2021-03-10.csv']

In [8]:
from utils import load_csvs

data = load_csvs(files)

In [9]:
from data import calc_avg_price_per_day

calc_avg_price_per_day(data)

         Data           Cena
0  2021-03-09  328579.295414
1  2021-03-10  334915.427147

In [10]:
from data import calc_avg_price_per_meter_per_day

calc_avg_price_per_meter_per_day(data)

         Data   Cena za m2
0  2021-03-09  6345.483439
1  2021-03-10  6353.898892

In [11]:

from data import calc_avg_price_per_area

calc_avg_price_per_area(data)

     Powierzchnia       Cena
0           11.50    79900.0
1           13.00     7000.0
2           13.06    64900.0
3           14.00   135950.0
4           14.14   135000.0
..            ...        ...
668        178.50   860000.0
669        200.00  1000000.0
670        220.00  1430000.0
671        310.00  1100000.0
672        343.59  1290000.0

[673 rows x 2 columns]

In [12]:
from data import get_best_offers

get_best_offers(data)

,Opis,Dzielnica,Ilość pokoi,Cena,Powierzchnia,Cena za m2,Data,Link do ogłoszenia
1573,"Mieszkanie na sprzedaż, Łódź, Górna",łódzkie,3,349000.0,56.21,6209.0,2021-03-10,https://www.otodom.pl/pl/oferta/mieszkanie-na-...
2415,M4 po remoncie Teofilów.,"Bałuty, Teofilów",3,349000.0,57.90,6028.0,2021-03-10,https://www.otodom.pl/pl/oferta/m4-po-remoncie...
1835,Mieszkanie Tribal Boho przy Filmówce i Parku Ź...,łódzkie,2,349000.0,40.33,8654.0,2021-03-10,https://www.otodom.pl/pl/oferta/mieszkanie-tri...
2694,M-4 (57) 7p./w. m.rozkładowe z balkonem/Bałuty,łódzkie,3,349000.0,57.00,6123.0,2021-03-10,https://www.otodom.pl/pl/oferta/m-4-57-7p-w-m-...
1695,Mieszkanie Tribal Boho przy Filmówce i Parku Ź...,łódzkie,2,349000.0,40.33,8654.0,2021-03-10,https://www.otodom.pl/pl/oferta/mieszkanie-tri...
...,...,...,...,...,...,...,...,...
2653,Lutomierska 127 3-pokoje rozkładowe bezpośrednio,Bałuty,3,255000.0,54.66,4665.0,2021-03-10,https://www.otodom.pl/pl/oferta/lutomierska-12...
2991,Mieszkanie - Łódź Żubardź,"Bałuty, Żubardź",2,254000.0,44.00,5773.0,2021-03-10,https://www.otodom.pl/pl/oferta/mieszkanie-lod...
2793,"Przestronne ""M"" na Retkinii - 42,42 m2 Rezerwacja","Polesie, Retkinia",2,253000.0,42.42,5964.0,2021-03-10,https://www.otodom.pl/pl/oferta/przestronne-m-...
1963,"M3 Retkinia parter, punktowiec","Polesie, Retkinia",2,252000.0,42.42,5941.0,2021-03-10,https://www.otodom.pl/pl/oferta/m3-retkinia-pa...
2947,M2 Osiedle Mireckiego !!!,Polesie,1,252000.0,42.00,6000.0,2021-03-10,https://www.otodom.pl/pl/oferta/m2-osiedle-mir...